.DS_Store
.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

node_modules/
/packages/**/dist

# yarn 2 files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

._.DS_Store
.DS_Store
npm-debug.log
yarn-error.log
lerna-debug.log
.rakeTasks
.vscode
.yarn-cache

.gem
/.bundle/
/vendor/bundle

.swiftpm

docs
